*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2d2d2d;
  height: 100%;
  width: 100%;
}

li{
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
  color: #fff;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 3px 8px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover{
  border: 1px solid #fff;
  color: rgb(181, 46, 46);
}

.menu {
  gap: 1em;
  font-size: 18px;
  display:none;
  position: absolute;
  width: 300px;
  height: 90vh;
  right: 0;
  left: auto;
  text-align: center;
  padding: 16px 0;
  border: 1px solid #fff;
  border-radius: 1px;
  transition: 0.3s;
}
.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
  display: inline-block;
}
.menu li {
  padding: 5px 14px;
}
 /* MENU SUSPENSO */
input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ .menu{
  display: block;
  background-color: #474747;
}
.hamburger {
  font-size: 24px;
  user-select: none;
  display: block;
  cursor: pointer;
}

#wrapper
{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#tabela{
  margin: auto;
  border-collapse: collapse;
  color: #fdfdfd;
  background-color: #474747;
  border-radius: 10px;
  width: 80%;
}

#tabela td{
  border-top: 1px solid #FFF;
  padding: 5px;
  text-align: center;
}

#tabela_titulo{
  border-radius: 10px;
}

#tabela_titulo td{
  background-color: rgb(226, 39, 39);
  border: none;
}